# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/simulatedAnnealingEMD/x64/Release/simulatedAnnealingEMD.exe
/simulatedAnnealingEMD/x64/Release/simulatedAnnealingEMD.ilk
/simulatedAnnealingEMD/x64/Release/simulatedAnnealingEMD.pdb
/simulatedAnnealingEMD/simulatedAnnealingEMD.suo
/simulatedAnnealingEMD/simulatedAnnealingEMD.v12.suo
/simulatedAnnealingEMD/simulatedAnnealingEMD.VC.db
/simulatedAnnealingEMD/simulatedAnnealingEMD/simulatedAnnealingEMD.vcxproj.user
/simulatedAnnealingEMD/simulatedAnnealingEMD/x64/Debug/simulatedAnnealingEMD.log
/simulatedAnnealingEMD/simulatedAnnealingEMD/x64/Debug/vc140.pdb
/simulatedAnnealingEMD/simulatedAnnealingEMD/x64/Debug/simulate.94AAB70A.tlog
/simulatedAnnealingEMD/simulatedAnnealingEMD/x64/Debug/main.obj
/simulatedAnnealingEMD/simulatedAnnealingEMD/x64/Release/simulate.94AAB70A.tlog
/simulatedAnnealingEMD/simulatedAnnealingEMD/x64/Release/main.obj
/simulatedAnnealingEMD/simulatedAnnealingEMD/x64/Release/simulatedAnnealingEMD.log
/simulatedAnnealingEMD/simulatedAnnealingEMD/x64/Release/vc140.pdb
/simulatedAnnealingEMD/.vs
